<!DOCTYPE html> 
<html> 
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"; >
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='WK4Style.css')}}"> 
    <title>Successfully Login</title>
</head> 
<body style="margin:0px;">
    <header>
        <div class='title'>歡迎光臨，這是會員頁</div>
    </header>
        
        <div class="content">恭喜你，成功登入系統</div>

   
</body>
</html>
    

