/* Index1.css */

.title{
    text-align: left;
    font-size:20px;
    font-weight: bold;
    margin:20px;
    width: 100%;

}
.ul-list{
    display: flex;
    font-size: 20px;
}
.item{
    display: flex;
    margin:0px;
    width: 70px;
    font-size: 20px;
}
.message{
    background-color:rgb(222, 238, 252);
    text-align: center;
    font-size: 40px;
    line-height: 300px;
    margin: 10px 0px 10px 0px;

}

main{
    display: flex; 
    justify-content: center;
    flex-wrap: nowrap;
    margin: 20px;
}

.pic-group-a{

    flex-direction: row;
    justify-content: space-between;
    margin:3px;
    
}
.image{
    display:inline-block; 
    width:300px;
    object-fit: cover;
    vertical-align: bottom;
}

.pic-name{
    background-color:rgb(222, 238, 252);
    width:300px;
    font-size: 20px;
    justify-content: space-between;
    margin:0px;
    height:50px;
    text-align: center;
    line-height: 50px;
}
