<!DOCTYPE html>
<html>

<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='WK7style.css')}}">

    <title>Successfully Login</title>
</head>

<body style="margin:0px;">
    <header>
        <div class='title'>歡迎光臨，這是會員頁</div>
    </header>

    <div class="content">{{session.name}}，歡迎登入系統</div>
    <button onclick="window.location = 'http://127.0.0.1:3000/signout'" type="submit" class='dropbtn'>登出系統</button>

    <!-- 查詢會員姓名 -->
    <div class="content">查詢會員姓名</div>
    <form action="/api/users" method="GET" class="inputSearch">
        <input type="text" name="username" id='username' placeholder='請輸入會員帳號'>
        <button style="margin:7px" id='btnSearch'>查詢</button>
    </form>
    <div class='content' id='Displayname'></div>

    <!-- 更新會員姓名 -->
    <div class="content">更新會員姓名</div>
    <form action="/api/user" method="POST" class="inputSearch">
        <input type="text" name="usernameAMD" id='usernameAMD' placeholder='請輸入會員姓名'>
        <button style="margin:7px" id='btnAMD'>更新</button>
    </form>
    <div class='content' id='DisplayStatus'></div>

</body>

</html>

<script>
    document.getElementById("btnSearch").addEventListener('click', getName);

    function getName(event) {
        event.preventDefault();
        let req = new XMLHttpRequest();
        let username = document.getElementById("username").value;
        req.open('GET', '/api/users?username=' + username, true);
        req.onload = function () {
            if (this.status == 200) {
                console.log(this.responseText)
                let user = JSON.parse(this.responseText);
                console.log(user);
                let display;
                if (user['data'] == null) {
                    display = 'User Not Found'
                } else {
                    display = user['data']['name'];
                };
                console.log(display);
                showData(display);
            };
        };
        req.send();
    };

    function showData(display) {
        let box = document.createElement('div');
        let column = document.getElementById('Displayname');
        box.textContent = '';
        column.textContent = '';
        document.getElementById('Displayname').appendChild(box);
        box.textContent = display;
    }

    // 更新會員姓名

    document.getElementById("btnAMD").addEventListener('click', getUpdate);

    function getUpdate(event) {
        event.preventDefault();
        let req = new XMLHttpRequest();
        let username = { "name": document.getElementById("usernameAMD").value };
        console.log(username);
        req.open('POST', '/api/user');
        req.setRequestHeader('content-type', 'application/json');
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                console.log(this.responseText);
                let status = JSON.parse(this.responseText);
                console.log(status);
                let statusShow;
            }; if (status['ok'] = true) {
                statusShow = '更新成功'
            } else {
                statusShow = '更新失敗'
            };
            console.log(statusShow);
            ViewStatus(statusShow);
            document.getElementById("usernameAMD").value="";
        };
        req.send(JSON.stringify(username));
    };

    function ViewStatus(statusShow) {
        let box = document.createElement('div');
        let column = document.getElementById('DisplayStatus');
        box.textContent = '';
        column.textContent = '';
        document.getElementById('DisplayStatus').appendChild(box);
        box.textContent = statusShow;   

    }


</script>